
name: Hourly Health Check

on:
  schedule:
    - cron: "0 * * * *"   
  workflow_dispatch:      

jobs:
  health_check:
    runs-on: ubuntu-latest
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v4
        with:
          url: https://full-stack-open-pokedex-tqgq.onrender.com/health
          # Follow redirects, or just report success on 3xx status codes
          follow-redirect: false # Optional, defaults to "false"
          # Fail this action after this many failed attempts
          max-attempts: 3
          retry-delay: 10s
          retry-all: true
          # Optional, only applicable to max-attempts > 1
          # Retry all errors, including 404. This option might trigger curl upgrade.
          # String representation of cookie attached to health check request.
          # Format: `Name=Value`
      